<div class="container create-container">
  <div class="row">
    <h3 class="m-4 font-weight-bold">創建餐廳資訊</h3>
  </div>
  <div class="row">
    <form action="/create" method="POST" style="width: 100%;">
      <div class="container">
        {{#if errorMsg}}

        <div class="row justify-content-center">
          <div class="col-11 alert alert-danger alert-dismissible fade show" role="alert">
            送出失敗: 請確認已經輸入必填項目 (店名、類別、評分、餐廳描述) 且評分僅接受數值輸入喔！
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {{/if}}

        <div class="row mt-2 mr-2">
          <div class="input-group mb-3">
            <label for="name" class="col-2 text-center pt-2">店名<span class='star'>*</span></label>
            <input type="text" class="form-control col-10" name="name" value="{{restaurant.name}}">
          </div>
        </div>

        <div class="row mr-2">
          <div class="input-group mb-3">
            <label for="name_en" class="col-2 text-center pt-2">英文店名</label>
            <input type="text" class="form-control col-10" name="name_en" value="{{restaurant.name_en}}">
          </div>
        </div>

        <div class="row mr-2">
          <div class="col-12 form-group" style="display: flex; padding: 0px">
            <label for="category" class="col-2 text-center pt-2">類別</label>
            <select class="col-10 form-control" id="category" name="category">
              {{#each categories}}
              <option value="{{this}}" {{#if (isEqual restaurant.category this)}}selected{{/if}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row mr-2">
          <div class="input-group mb-3">
            <label for="image" class="col-2 text-center pt-2">相片</label>
            <input type="url" class="form-control col-10" name="image" value="{{restaurant.image}}" placeholder="圖片網址">
          </div>
        </div>

        <div class="row mr-2">
          <div class="input-group mb-3">
            <label for="location" class="col-2 text-center pt-2">地址</label>
            <input type="text" class="form-control col-10" name="location" value="{{restaurant.location}}">
          </div>
        </div>

        <div class="row mr-2">
          <div class="input-group mb-3">
            <label for="phone" class="col-2 text-center pt-2">電話</label>
            <input type="tel" class="form-control col-10" name="phone" value="{{restaurant.phone}}"
              pattern="([0-9]{2})[0-9]{1-4}-[0-9]{4}" placeholder="台灣市話 Ex: (02)XXXX-XXXX 或 (04)XXX-XXXX">
          </div>
        </div>

        <div class="row mr-2">
          <div class="input-group mb-3">
            <label for="google_map" class="col-2 text-center pt-2">網址</label>
            <input type="url" class=" form-control col-10" name="google_map" value="{{restaurant.google_map}}"
              placeholder="Google Map 網址">
          </div>
        </div>

        <div class="row mr-2">

          <div class="input-group mb-3">
            <label for="rating" class="col-2 text-center pt-2">評分<span class='star'>*</span></label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rating1" value="1"
                {{#if (isEqual restaurant.rating 1)}}checked{{/if}}>
              <label class="form-check-label" for="rating1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rating2" value="2"
                {{#if (isEqual restaurant.rating 2)}}checked{{/if}}>
              <label class="form-check-label" for="rating2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rating3" value="3"
                {{#if (isEqual restaurant.rating 3)}}checked{{/if}}>
              <label class="form-check-label" for="rating3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rating4" value="4"
                {{#if (isEqual restaurant.rating 4)}}checked{{/if}}>
              <label class="form-check-label" for="rating4">4</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rating" id="rating5" value="5"
                {{#if (isEqual restaurant.rating 5)}}checked{{/if}}>
              <label class="form-check-label" for="rating5">5</label>
            </div>
          </div>
        </div>

        <div class="row mr-2">
          <div class="input-group mb-3">
            <label for="description" class="col-2 text-center pt-2">餐廳描述<span class='star'>*</span></label>
            <textarea type="text" class="form-control col-10" name="description">{{restaurant.description}}</textarea>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end my-4 mr-4">
        <button type="submit" class="btn btn-primary">確定新增</button>
        <a href="/" class="btn btn-secondary ml-2">返回</a>
      </div>
    </form>
  </div>
</div>